<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.movesense.mds.handwave">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name="com.movesense.mds.handwave.fyssa_app.FyssaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.movesense.mds.handwave.fyssa_app.SelectTestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
        android:name="com.movesense.mds.handwave.fyssa_app.FyssaInfoActivity"
        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.movesense.mds.handwave.fyssa_app.FyssaMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
            android:name="com.movesense.mds.handwave.update_app.FyssaSensorUpdateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.movesense.mds.handwave.scanner.MainScanActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.movesense.mds.handwave.scanner.UpdateScanActivity"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="com.movesense.mds.handwave.update_app.dfu.DfuService"
            android:exported="true"
            android:permission="">
        </service>

    </application>

</manifest>
